body{
background-color: #F6DCF5;
margin-left: 80px;
margin-right: 80px;
font-family: 'Quicksand', sans-serif;
}

header{
    display: flex;
    flex-wrap: wrap;
}
.header {
    display: flex;
    justify-content: flex-start;

}
.logo{
    width: 80px;
    margin-right: 20px;
}
.first {
    margin-right: 10px;
}
.name{
    border: 5px solid black
}
.navigation{
    width: 450px;
}
ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    border: 2px solid black;
}
p.aboutme {
    border: 3px solid black;
    height: 200px;
}
.sierra{
    width: 350px;
    border-radius: 25px;
}
.intro{
    display: flex;
    border: 2px solid white;
    justify-content: space-evenly;
}
.CS {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "WWCard WWDes"
    "DOLDes DOLCard"
    "ABRCard ABRDes";
}
.WWCard {
    grid-area: WWCard;
    display: grid;
}
.WWDes {
    grid-area: WWDes;
    display: grid;
}
.DOLDes {
    grid-area: DOLDes;
    display: grid;
}
.DOLCard {
    grid-area: DOLCard;
    display: grid;
}
.ABRCard {
    grid-area: ABRCard;
    display: grid;
}
.ABRDes {
    grid-area: ABRDes;
    display: grid;
}